#portfolio {
  background-color: #0e112c;
  .wrapper {
    padding-top: 50px;
    padding-bottom: 100px;
    .title {
      h2 {
        text-align: center;
        margin: 0 auto;
        color: white;
        font-size: 40px;
        font-weight: 600;
        width: 1000px;
        padding-bottom: 10px;
        span {
          color: #b586ff;
        }
      }
      hr {
        margin: 0 auto;
        width: 900px;
        border: none;
        height: 1px;
        background: linear-gradient(90deg, #5700e2, #a300d3);
        // border: 1px solid linear-gradient(90deg, #5700e2, #a300d3);
        opacity: 1;
      }
      p {
        text-align: center;
        margin: 0 auto;
        padding-top: 13px;
        padding-bottom: 55px;
        width: 835px;
      }
    }
  }
}
