#services {
  background-color: #000120;
  // position: relative;
  // z-index: -999;

  .servicesWrapper {
    // position: relative;
    padding-top: 115px;
    padding-bottom: 200px;
    .left {
      .title_left {
        position: sticky;
        top: 150px;

        h2 {
          color: white;
          font-size: 40px;
          font-weight: 600;
          width: 556px;
          span {
            color: #b586ff;
          }
        }
        hr {
          margin-bottom: 13px;
          margin-top: 10px;
          width: 560px;
          border: none;
          height: 1px;
          background: linear-gradient(90deg, #5700e2, #a300d3);
          // border: 1px solid linear-gradient(90deg, #5700e2, #a300d3);
          opacity: 1;
        }
        p {
          color: #e2e8f0;
          font-size: 17px;
        }
      }
    }
    .right {
      // justify-content: right;

      .card1 {
        @include card_design;
        position: sticky;
        top: 150px;
      }
      .card2 {
        @include card_design;
        position: sticky;
        top: 200px;
      }
      .card3 {
        @include card_design;
        position: sticky;
        top: 250px;
      }
      .card4 {
        @include card_design;
        position: sticky;
        top: 300px;
      }
      .card5 {
        @include card_design;
        position: sticky;
        top: 350px;
      }
    }
  }
}
