#versatile {
  background: url(../images/we-offer-vibrant-design-BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .wrapper {
    padding-top: 160px;
    padding-bottom: 160px;
    h4 {
      position: relative;
      left: 70px;
      top: 55px;
      color: #5700e2;
      font-size: 100px;
      font-weight: 600;
    }
    div {
      justify-content: space-between;
    }
    h5 {
      position: relative;
      font-family: Ananda;
      color: white;
      font-size: 75px;
      font-weight: 400;
      top: 40px;
    }
    h3 {
      position: relative;
      font-family: Couraged;
      color: white;
      font-size: 150px;
      font-weight: 500;
      z-index: 999;
      text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
    }
    h2 {
      color: transparent;
      background: linear-gradient(90deg, #5700e2, #a300d3);
      background-clip: text;
      font-size: 220px;
      font-weight: 700;
      position: relative;
      left: 32%;
      bottom: 110px;
    }
  }
}
